html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --pale-blue: rgb(22, 168, 168);
  --btn-hover: rgb(25, 195, 195);
  --border: rgb(218, 218, 218);
}

a {
  text-decoration: none;
  color: inherit;
}

/* ---------------- */

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: white;
  width: 100%;
  border-bottom: 3px solid var(--pale-blue);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-pages {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.navbar-pages a {
  width: 32%;
  text-align: center;
  padding: 30px 20px 20px ;
  cursor: pointer;
}

.navbar-pages a:hover {
  background-color: var(--pale-blue);
  color: white;
  font-weight: bold;
}

.navbar-pages .active-page {
  background-color: var(--pale-blue);
  color: white;
  font-weight: bold;
}

.navbar-user {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-user img {
  width: 40px;
  border-radius: 50%;
}

.navbar-user span {
  font-size: 1.2rem;
}

.navbar-user button {
  background: none;
  border: none;
  padding: 20px;
  font-size: 1.2rem;
}
.navbar-user button:hover {
  background-color: rgb(190, 0, 0);
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* ---------------- */

.login-card-container {
  margin-top: 20px;
  
  display: flex;
  justify-content: center;
}

.login-card {
  width: 40%;
  text-align: center;
  padding: 10px;
  border: 1px solid var(--border);
}

.login-card .welcome-message {
  font-size: 1.4rem;
}

.login-page-image img {
  height: 150px;
}

.login-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.login-form form {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.login-form form label {
  color: var(--pale-blue);
  font-size: 1.2rem;
  font-weight: bold;
}

.login-form form select {
  margin-top: 20px;
  background-color: white;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  cursor: pointer;
}

.btn{
  width: 100%;
  margin-top: 20px;
  background-color: var(--pale-blue);
  color: white;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn-outline {
  width: 100%;
  margin-top: 20px;
  background-color: white;
  font-weight: bold;
  color: var(--pale-blue);
  padding: 10px;
  outline: none;
  border: 1px solid var(--pale-blue);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.btn-outline:hover {
  background-color: var(--pale-blue);
  color: white;
}

/* ---------------- */

.feed-container {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--border);
}

.questions-type-container {
 
  width: 50%;
  margin: 20px auto 0px ;
  display: flex;
  justify-content: center;
}

.questions-type-container button {
  border: 1px solid var(--border);
  width: 50%;
  padding: 20px;
  background-color: white;
  cursor: pointer;
}

.questions-type-container button:hover {
  background-color: rgb(233, 233, 233);
}

.questions-type-container .active-questions-type {
  color: var(--pale-blue);
  background-color: rgb(233, 233, 233);
  font-weight: bold;
}

.feed {
  width: 100%;

}

.question-card {
  border: 1px solid var(--border) ;
  border-radius: 10px;
  margin-top: 20px;
}

.question-card-title {
  background-color: rgb(241, 241, 241);
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}


.question-card-body {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.question-card-avatar-container { 
  width: 35%;
  border-right: 1px solid var(--border);
  display: flex;
  align-items: center;
}

.question-card-body img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


.question-card-question-container {
  width: 55%;
}

.question-card-question-container p:nth-child(2) {
  color: rgb(151, 151, 151);
}

.single-question-page-container {
  display: flex;
  justify-content: center;
}

.single-question-container {
  width: 60%;
}

.input-answer-container {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  width: 100%;
}

.question-form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 10px;    
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin-right: 15px;
    position: relative;
    width: 20px;
  }

input[type="radio"]:checked {
  background-color: rgb(46, 46, 46);
  outline: 5px solid white;
  outline-offset: -10px;
  border: 5px solid var(--pale-blue);
}

.question-form label{
  font-size: 1.2rem;
}

.option-container {
  width: 100%;
  padding: 20px;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  margin: 20px 0px;
  border: 2px solid var(--border);
}

.selected-option {
  background-color: rgb(214, 255, 241);
  border: 2px solid var(--pale-blue);
  position: relative;
}
.selected-option h3{
  color: var(--pale-blue);
  font-weight: bold;
}

.selected-option::after {
  content: "your vote";
  display: flex;
  position: absolute;
  right: -10px;
  top:-30px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  background-color: #e6c721;
  border-radius: 50%;
}

.answers-bar-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 10px;
}

.answers-bar {
  padding: 5px 10px;
  background-color: var(--pale-blue);
  border-radius: 10px;
  color: white;
}

.answers-bar p {
  text-align: right;
}

.option-stats {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 0;
}

/* ---------------- */


.new-question-container {
  display: flex;
  justify-content: center;
}

.new-question-card {
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--border);
  margin-top: 50px;
}

.new-question-title-container {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border);
}

.new-question-body-container {
  width: 100%;
  padding: 20px;
}

.new-question-options-container {
  text-align: center;
}

.new-question-options-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 10px;
  outline: none;
}

.new-question-options-container input::placeholder {
  color: rgb(119, 119, 119);
}



